
*{
	outline: none;
}

.flex{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.display-none{
	display: none;
}

.flex-column{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.can-edit-p{
	width: 100%;
	line-height: 24px;
}

.edit-active{
	background: #aaa;
}

.edit-body{
	height: 100%;
}

.edit-dev-container{
	width: 100%;
	height: 100%;
}

/*device选择部分*/
.edit-device-choice{
	height: 50px;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(top,#e1e1e1,#fafafa);
	color: #666;
}

.edit-responsive{
	position: relative;
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.edit-responsive>span{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.device-size-container{
	position: absolute;
	width: 100%;
	top: 35px;
	border: 1px solid #f0f0f0;
	background: #fff;
	z-index: 5;
}

.device-size{
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #999;
}

.show-size{
	width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fafafa;
    color: #999;
}


/*工具条部分样式*/
.edit-tools-container{
	height: 50px;
	margin: 20px auto;
	padding: 0 10px;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-shadow: 0 0 1px rgba(0,0,0,.5); 
	box-sizing: border-box;
}

.edit-tool{
	position: relative;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.edit-tool:first-child{
	margin-left: 0;
}

.font-family[choiced="true"],
.font-size[choiced="true"],
.font-weight[choiced="true"],
.font-italic[choiced="true"],
.font-underline[choiced="true"],
.font-left[choiced="true"],
.font-center[choiced="true"],
.font-right[choiced="true"],
.remove-style-btn[choiced="true"]{
	background: #e1e1e1;
}

.edit-tool>svg{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.edit-select-font-family{
	position: absolute;
    left: -10px;
    top: 32px;
    height: 32px;
    width: 150px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
	font-size: 18px;
	color: #666;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.edit-select-font-family>option{
	height: 32px;
	padding-left: 10px;
	font-size: 18px;
	color: #666;
	box-sizing: border-box;
	cursor: pointer;
}

.edit-choice-color-contianer{
	position: absolute;
	top: 40px;
	left: -20px;
	border: 1px solid #e1e1e1;
	padding: 15px;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,.3);
}

.cut-off-rule{
	margin: 10px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.recent-use-color-box-container{
	height: 25px;
}

.use-color-theme{
	font-size: 14px;
}

.color-box-container{
	width: 250px;
}

.color-box{
	width: 17px;
	height: 17px;
	margin: 4px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	cursor: pointer;
}

.color-box[choiced="true"]{
	box-shadow: 0 0 3px 1px;
}

.user-defined{
	padding: 10px 0;
}

.user-defined>span{
	width: 17px;
	height: 17px;
	margin: 4px;
}

.user-defined>p{
	width: 25px;
	height: 25px;
	border: 1px solid #e1e1e1;
	border-right: none;
	text-align: center;
	line-height: 25px;
	box-sizing: border-box;
}

.user-defined>input{
	height: 25px;
	width: 120px;
	display: block;
	border: 1px solid #e1e1e1;
	border-left: none;
	box-sizing: border-box;
}

.user-defined>button{
	display: block;
	width: 50px;
	height: 25px;
	margin-left: 15px;
	box-sizing: border-box;
	font-family: 'Microsoft YaHei'
}

.font-family-path[choiced="true"],
.font-size-path[choiced="true"],
.font-weight-path[choiced="true"],
.font-italic-path[choiced="true"],
.font-underline-path[choiced="true"],
.font-left-path[choiced="true"],
.font-center-path[choiced="true"],
.font-right-path[choiced="true"],
.remove-style-path[choiced="true"]{
	fill: #1296db;
}

.font-size-container{
	position: absolute;
    width: 80px;
    height: 30px;
    top: 40px;
    right: -25px;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    box-sizing: border-box;
    background: #F0F0F0;
}

.edit-plus,
.edit-add{
	font-size: 24px;
	color: #1296db;
	cursor: pointer;
}

.edit-show-font-size{
	color: #888;
}


/*编辑区的样式*/
.edit-content-container{
	height: calc(100% - 140px);
	justify-content: center;
}

.edit-content-container>div{
	position: absolute;
	width: 600px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.edit-process-choice-contianer{
	position: absolute;
	width: 40px;
	height: 150px;
	flex-direction: column;
	justify-content: space-between;
	top: 10px;
	right: 10px;
}

.edit-process-choice{
	width: 40px;
	height: 40px;
}

.edit-btn[clicked="false"],
.edit-modify[clicked="false"],
.edit-add[clicked="false"]{
	fill: #1296db;
}

.edit-btn[clicked="true"],
.edit-modify[clicked="true"],
.edit-add[clicked="true"]{
	fill: #f02b5b;
}

.edit-process-choice>svg{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.edit-area-container{
	position: relative;
    padding: 10px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    box-sizing: border-box;
    cursor: text;
}

.edit-area-container img{
	max-width: 100%;
}

.eidt-setting-tools{
	position: absolute;
	right: 5px;
	bottom: 26px;
}

.eidt-setting-tools>li{
	margin: 10px 0;
	border: 1px solid #a0a0a0;
	color: #666;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}

.edit-img-container{
	position: relative;
	width: 100%;
	height: 30%;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 24px;
	color: #aaa;
	text-shadow: 0 0 2px #ccc;
	cursor: pointer;
}

.edit-img-container>img{
	position: absolute;
	display: block;
	width: 300px;
	height: 200px;    
	top: 50%;
    left: 50%;
    margin: -100px -150px;
	z-index: 1;
}

.edit-content-show-area{
	flex-direction: column;
}

.add-image-container{
	width: 300px;
	height: 200px;
	overflow: hidden;
}

.add-image-container>img{
	width: 100%;
}

.add-content-sign{
	height: 50px;
	justify-content: center;
	align-items: center;
}

.add-content-sign>svg{
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.add-image:hover,
.add-emotion:hover,
.add-video:hover,
.revocation-btn:hover{
	background: #e1e1e1;
}

.add-image:hover path,
.add-emotion:hover path,
.add-video:hover path,
.revocation-btn:hover path{
	fill: #1296db;
}





/*呈现区域*/
.mobile-show-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 30;
}

.mobile-show-container>div{
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}

.mobile-bg-container{
	position: absolute;
	width: 360px;
	height: 820px;
	margin: -17px 0 0 -2px;
	background-image: url(/img_material/mobile_model.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}

.edit-mobile-show{
	transform: scale(.7);
	background: #d1d1d1;
}

/*.edit-mobile-show img{
	display: block;
	width: 100%;
}*/




/* 文字编辑区 */
.edit-text-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.3);
	z-index: -10;
	opacity: 0;
	transition: opacity .2s ease;
}

.edit-text-overlay[show="true"]{
	z-index: 10;
	opacity: 1;
}

.edit-close-btn{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.edit-choice-type{

}

.edit-choice-type>div{
	margin: 0 20px;
}

.edit-text{
	width: 600px;
	height: 400px;
	padding: 20px 10px;
	font-size: 16px;
	color: #888;
	border-radius: 10px;
	background: #fff;
	box-sizing: border-box;
}

.edit-image-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 400px;
	border-radius: 10px;
	background: #fff;
}

.edit-choice-image{
	display: block;
	margin: 20px 0;
	padding: 8px 20px;
	color: #888;
	background: #e1e1e1;
	cursor: pointer;
}

.show-edit-image-container{
	width: 300px;
	height: 200px;
	overflow: hidden;
}

.show-edit-image-container>img{
	display: block;
	width: 100%;
}

.edit-ok-btn{
	display: block;
	margin-top: 30px;
	font-size: 18px;
	padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    background: royalblue;
    cursor: pointer;
}


